@model MusicDatabase.Models.SongEntry;
@{
    ViewData["Title"] = "Play Song";
}
    
<link rel="stylesheet" href="~/css/mediaplayer.css">
<div class="maincontainer">
    <div class="songContainer">
        <div class="songCard">
            <div class="thumbnail"></div>
            <div class="songInfo">
                <p>On My Way</p>
                <p>Alan Walker</p>
                <p>Live Fast</p>
                <p>2018</p>
            </div>
        </div>
        <div class="songControls">
            <div class="mediaplayer">
                <audio src=""></audio>
            </div>
            <div class="progressBarContainer">
                <div id="timeProgressBar" class="progressBar">
                    <div id="timeProgress" class="_progress"></div>
                    <div id="timeProgressHandle" class="handle"></div>
                </div>
            </div>
            <div class="timeContainer">
                <p id="currentTime">3:30</p>
                <p id="totalTime">2:13</p>
            </div>
            <div class="controlButtons">
                <div class="seek"></div>
                <div class="play"></div>
                <div class="seek"></div>
            </div>
        </div>
    </div>
    <div class="listContainer">
        <div class="songList">
            <p class="header">SONGS</p>
            <div class="scroll">
                <div class="songBox">
                    @* <div class="img"></div> *@
                    <div>
                        <p class="songName">On My Way</p>
                        <p class="songArtist">Alan Walker</p>
                    </div>
                    <p>3:20</p>
                </div>
                <div class="songBox">
                    @* <div class="img"></div> *@
                    <div>
                        <p class="songName">On My Way</p>
                        <p class="songArtist">Alan Walker</p>
                    </div>
                    <p>3:20</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/mediaplayer.js"></script>