:root {
  --progressBackground: rgb(167, 167, 167);
  --currentProgressBackground: rgb(0, 83, 192);
  --progressHandle: rgb(173, 65, 65);
  --appBackground: rgb(98, 0, 122);
  --navBarBackground: #fff;
  --MainButtonColor:rgb(173, 0, 0);
  --MainButtonHover:rgb(173, 0, 0);
  --SeekButtonColor:rgb(255, 0, 0);
  --SeekButtonHover:rgb(225, 0, 0);
}

html {
  font-size: 14px;
}
  
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.pb-3
{
  height: 100%;
}
.container {
  user-select: none;
}

.progressBar {
  background-color: var(--progressBackground);
  height: 8px;
  border-radius: 100px;
}

.progressLine {
  background-color: var(--currentProgressBackground);
  border-radius: 100px;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.handle {
  position: absolute;
  background-color: var(--progressHandle);
  width: 20px;
  height: 20px;
  margin: -10px;
  cursor: pointer;
  border-radius: 100px;
}

.time
{
  display: flex;
  justify-content: space-between;
 }
.time p
{
  margin: 0px;
}
.actions
{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.playPausebtn
{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border: none;
  background-color: var(--MainButtonColor);
}
.playPausebtn:hover
{
  background-color: var(--MainButtonHover);
}
.seekbtn
{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: none;
  background-color: var(--SeekButtonColor);
}
.seekbtn:hover
{
  background-color: var(--SeekButtonHover);
}
#songVolume
{
  width: 120px;
  
}
.player
{
  height: 100%;
  display: grid;
  grid-template-rows: auto min-content;
}
.thumbnail
{
  margin: 2rem;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 0px 10px 2px #000000d1;
  background-image: url("/Assets/thumbnail.jpg");
  background-size: cover;
  background-repeat: no-repeat ;
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-weight: 300;
  justify-content: center;
  color: white;
}
.thumbnail p
{
  margin: 0.4em;
}